* {
  font-family: 'Barlow', sans-serif;
  font-family: 'K2D', sans-serif;
}

.p-header {

  font-size: 20px;
}

@media (max-width: 800px) {
  .p-header {
    font-size: 15px;
  }
}

/* ______________gallery card_______________ */
body {
  background-color: #e9e5de
}

a {
  text-decoration: none !important
}

.card-product-list,
.card-product-grid {
  margin-bottom: 0
}

.card {
  width: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  margin-top: 50px
}

.card-product-grid:hover {
  -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  -webkit-transition: .3s;
  transition: .3s
}

.card-product-grid .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 220px
}

.card .img-wrap {
  overflow: hidden
}

.card-lg .img-wrap {
  height: 280px
}

.card-product-grid .img-wrap {
  border-radius: 0.3rem 0.3rem 0 0;
  height: 275px;
  padding: 16px
}

[class*='card-product'] .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover
}

.img-wrap {
  text-align: center;
  display: block
}

.card-product-grid .info-wrap {
  overflow: hidden;
  padding: 18px 20px
}

[class*='card-product'] a.title {
  color: #212529;
  display: block
}

.rating-stars {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both
}

.rating-stars li.stars-active {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden
}

.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1
}

.card-product-grid .bottom-wrap {
  padding: 18px;
  border-top: 1px solid #e4e4e4
}

.bottom-wrap-payment {
  padding: 0px;
  border-top: 1px solid #e4e4e4
}

.rated {
  font-size: 10px;
  color: #b3b4b6
}

.Decore {
  color: #ff1100;
  cursor: default;
}
.BY a{
  color: #4caf50;
  cursor: pointer;
}

.BY a,.Decore {
  font-size: 10px;
}

.BY a:hover {
  color: #00d909;
}

.fa {
  color: #FF5722
}


/*_________________ login ___________________ */
body {
  background: #EEEE
}

.card {
  border: none;
  height: 320px
}

.forms-inputs {
  position: relative
}

.forms-inputs span {
  position: absolute;
  top: -18px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 15px
}

.forms-inputs input {
  height: 50px;
  border: 2px solid #eee
}

.forms-inputs input:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #000
}

.btn {
  height: 50px
}

.success-data {
  display: flex;
  flex-direction: column
}

.bxs-badge-check {
  font-size: 90px
}




/*_________________Statistic___________________ */

body{
  margin-top:20px;
  background:#FAFAFA;
}
.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
  height: 170px;
  width: 250px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}
/* ________________dashSearch___________________ */
.addSearch{
  display: flex;
  align-items: center;
  justify-content: space-between;
}